<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <title>お問い合わせ | サンプル株式会社</title>
</head>

<body>
    <header>
        <!-- 576px以上の画面幅のとき、メニューを表示する（それ未満なら折りたたむ）指定を追加 ok -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <!-- 画面左上に表示するサイト名のリンクとして適切な表示をするための指定を追加 ok -->
                <a href="#" class="navbar-brand">サンプル株式会社</a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-bar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">会社情報</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">ニュース</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">採用情報</a></li>
                        <!-- お問い合わせページを表示していることをわかりやすくする設定を追加 ok -->
                        <li class="nav-item"><a href="#" class="nav-link active">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="mt-4 pb-4 border-bottom">お問い合わせ</h1>

        <!-- グリッドを使うための指定を追加 ok -->
        <div class="mt-4 row">
            <!-- 576px以上の画面幅のとき、左側は3つ分のカラム幅で表示する指定を追加 ok -->
            <div class="col-sm-3">
                <!-- 電話に関するBootstrap Iconsのアイコンを「お電話：」の左に追加 ok -->
                <img class="mb-1" src="icons/telephone-fill.svg" alt="telephone"> <strong>お電話：</strong>
            </div>

            <!-- 576px以上の画面幅のとき、右側は9つ分のカラム幅で表示する指定を追加 ok -->
            <div class="col-sm-9">
                <p>該当する内容の電話番号におかけください。</p>
                <!-- テーブルの装飾を適用する指定を追加 ok -->
                <!-- さらにテーブルへ枠を追加する指定、行ごとの背景色が交互に変わる指定を追加 ok -->
                <table class="mt-4 table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>内容</th>
                            <th>電話番号</th>
                            <th>担当</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>サービスに関するお問い合わせ</td>
                            <td>03-0000-0000</td>
                            <td>煌木</td>
                        </tr>
                        <tr>
                            <td>採用に関するお問い合わせ</td>
                            <td>03-0000-0001</td>
                            <td>煌田</td>
                        </tr>
                        <tr>
                            <td>会社情報に関するお問い合わせ</td>
                            <td>03-0000-0002</td>
                            <td>煌山</td>
                        </tr>
                    </tbody>
                </table>

                <!-- カードの装飾を適用 ok -->
                <div class="card">
                    <!-- カードのタイトル部分として設定 ok -->
                    <div class="card-header">
                        <!-- 営業時間の情報に関するBootstrap Iconsのアイコンを「営業時間」の左に追加 ok -->
                        <img class="mb-1" src="icons/info-circle-fill.svg" alt="info"> 営業時間
                    </div>

                    <!-- カードの本文部分として設定 ok -->
                    <div class="card-body">
                        平日10時〜19時（土日・祝日は対応しておりません）
                    </div>
                </div>
            </div>
        </div>

        <!-- グリッドを使うための指定を追加 ok -->
        <div class="mt-4 row">
            <!-- 576px以上の画面幅のとき、左側は3つ分のカラム幅で表示する指定を追加 ok -->
            <div class="col-sm-3">
                <!-- メールに関するBootstrap Iconsのアイコンを「メール：」の左に追加 ok -->
                <img class="mb-1" src="icons/envelope.svg" alt="mail"> <strong>メール：</strong>
            </div>

            <!-- 576px以上の画面幅のとき、右側は9つ分のカラム幅で表示する指定を追加 ok -->
            <div class="col-sm-9">
                <p>
                    プライバシーポリシーをご確認いただき、ご同意の上で、送信ボタンをクリックしてください。<br />
                    お問い合わせの内容は、受付日から3営業日以内をめどにご返信いたします。
                </p>
                <form action="/" method ="POST">
                    <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 ok -->
                    <div class="mb-3 row">
                        <!-- 576px以上の画面幅のとき、ラベルは3つ分のカラム幅で表示する指定を追加 ok -->
                        <label class="col-form-label col-sm-3">会社名：</label>

                        <!-- 576px以上の画面幅のとき、フォーム部品は9つ分のカラム幅で表示する指定を追加 ok -->
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="company" required>
                        </div>
                    </div>

                    <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 ok -->
                    <div class="mb-3 row">
                        <!-- 576px以上の画面幅のとき、ラベルは3つ分のカラム幅で表示する指定を追加 ok -->
                        <label class="col-form-label col-sm-3">氏名：</label>

                        <!-- 576px以上の画面幅のとき、フォーム部品は9つ分のカラム幅で表示する指定を追加 ok -->
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="name" required>
                        </div>
                    </div>

                    <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 ok -->
                    <div class="mb-3 row">
                        <!-- 576px以上の画面幅のとき、ラベルは3つ分のカラム幅で表示する指定を追加 ok -->
                        <label class="col-form-label col-sm-3">メール：</label>

                        <!-- 576px以上の画面幅のとき、フォーム部品は9つ分のカラム幅で表示する指定を追加 ok -->
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="mail" required>
                        </div>
                    </div>

                    <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 ok -->
                    <div class="mb-3 row">
                        <!-- 576px以上の画面幅のとき、ラベルは3つ分のカラム幅で表示する指定を追加 ok -->
                        <label class="col-form-label col-sm-3">電話番号：</label>

                        <!-- 576px以上の画面幅のとき、フォーム部品は9つ分のカラム幅で表示する指定を追加 ok -->
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="tel" required>
                        </div>
                    </div>

                    <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 ok -->
                    <div class="mb-3 row">
                        <!-- 576px以上の画面幅のとき、ラベルは3つ分のカラム幅で表示する指定を追加 ok -->
                        <label class="col-form-label col-sm-3">内容：</label>

                        <!-- 576px以上の画面幅のとき、フォーム部品は9つ分のカラム幅で表示する指定を追加 ok -->
                        <div class="col-sm-9">
                            <textarea class="form-control" name="content" required></textarea>
                        </div>
                    </div>

                    <!-- ラベルとフォーム部品を並べるためにグリッドを使う指定を追加 ok -->
                    <div class="mb-3 row">
                        <!-- 576px以上の画面幅のとき、3つ分のカラム幅の隙間を表示する設定を追加 ok -->
                        <!-- さらに、576px以上の画面幅のとき、9つ分のカラム幅で送信ボタンの表示部分の設定を追加 ok -->
                        <div class="offset-sm-3 col-sm-9">
                            <!-- 送信ボタンを緑色にする設定を追加 ok -->
                            <button type="submit" class="btn w-100 btn-success">お問い合わせ内容を送信する</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="text-center pt-3 border-top">
        &copy; 2021 SAMPLE Inc.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>